/* ===== GRID УТИЛИТЫ ===== */
.grid { 
  display: grid; 
}
.grid-cols-1 { 
  grid-template-columns: 1fr; 
}
.grid-cols-2 { 
  grid-template-columns: repeat(2, 1fr); 
}
.grid-cols-3 { 
  grid-template-columns: repeat(3, 1fr); 
}